meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Procesos, políticas, indicadores y herramientas para las transiciones
meta(meta name="description" content="Las transiciones agroecológicas se desarrollan a diferentes escalas espaciales y temporales; por tanto, es importante visibilizar las posibilidades y limitaciones de la masificación de la agroecología, para que sea aprovechada por un número creciente de productores/as y consumidores/as en territorios cada vez más amplios. Adicionalmente, es necesario incorporar la multidimensionalidad y multifuncionalidad de la agroecología en indicadores, herramientas y políticas públicas que permitan caracterizar los agroecosistemas y definir la ruta para concretar las transiciones.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")