h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Cód.– 2. Proponer acciones para el tránsito hacia sistemas agroalimentarios según el enfoque agroecológico.