.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

         p
            strong.mr-2 Circuitos cortos de comercialización:
            | los circuitos de proximidad o circuitos cortos “son una forma de comercio basada en la venta directa de productos frescos [locales] o de temporada sin intermediario —o reduciendo al mínimo la intermediación— entre productores y consumidores. Los circuitos de proximidad acercan a los agricultores al consumidor, fomentan el trato humano y sus productos, al no ser transportados a largas distancias [...] generan un impacto medioambiental más bajo” (CEPAL, 2014). Así mismo, estos circuitos propician un proceso de concientización de productores y consumidores, favoreciendo una producción más limpia y un consumo más responsable.
        
         p
            strong.mr-2 Diálogo de saberes:
            | diálogo entre sujetos de conocimiento, donde se produce un aprendizaje mutuo, a través de la construcción social del conocimiento, el intercambio de ideas, creencias, nociones, conceptos, prácticas, deseos, vivencias y emociones que permite una comprensión común, aunque no igual, frente a uno o más asuntos. Los protagonistas tradicionales en el ámbito de los recursos naturales para la agricultura y la alimentación, son las comunidades locales o agricultores familiares y los miembros de la comunidad científico–técnica.

         p
            strong.mr-2  Economía solidaria:
            | sistema socioeconómico, cultural y ambiental conformado por el conjunto de fuerzas sociales organizadas en formas asociativas identificadas por prácticas autogestionarias solidarias, democráticas y humanistas, sin ánimo de lucro para el desarrollo integral del ser humano como sujeto, actor y fin de la economía.

         p
            strong.mr-2 Extensión agropecuaria:
            | proceso de acompañamiento mediante el cual se gestiona el desarrollo de capacidades de los productores agropecuarios, su articulación con el entorno y el acceso al conocimiento, tecnologías, productos y servicios de apoyo; con el fin de hacer competitiva y sostenible su producción al tiempo que contribuye a la mejora de la calidad de vida familiar. Por lo tanto, la extensión agropecuaria facilita la gestión de conocimiento, el diagnóstico y solución de problemas, el intercambio de experiencias y la construcción de capacidades individuales, colectivas y sociales.

         p
            strong.mr-2 Extensión rural:
            | proceso continuo de fortalecimiento y desarrollo de capacidades de las familias y organizaciones de productores agropecuarios mediante actividades de acompañamiento técnico integral y multidimensional, a través de la generación, difusión, acceso e intercambio de conocimientos y tecnologías. Facilita a las comunidades sus procesos de articulación con el entorno, permitiéndoles desarrollar con autonomía su potencial productivo y mejorando su bienestar y buen vivir. Este proceso requiere de metodologías horizontales y participativas que fortalezcan el diálogo de saberes y la auto-gestión.
         p
            strong.mr-2 Mercados campesinos y comunitarios:
            | esquemas de comercialización de bienes y servicios agropecuarios a nivel local caracterizados por: (i) presencia y gestión, de manera exclusiva o principal, por parte de productores y organizaciones de agricultura campesina, familiar y comunitaria; (ii) ausencia o mínima intermediación (limitada a algunos productos no disponibles localmente); (iii) venta de productos frescos, de temporada y procesados; (iv) promoción de alimentos y productos propios del territorio; (v) búsqueda de un precio justo tanto para el productor como para el consumidor; (vi) fomento de la agricultura limpia o agroecológica. Estos esquemas de comercialización suelen operar en parques, escuelas y otro tipo de espacios de tipo público o comunitario.

         p
            strong.mr-2 Sistemas Participativos de Garantías (SPG):
            | sistemas de garantía desarrollados a través de la relación y participación directa entre los productores, los consumidores y otros miembros de la comunidad, quienes verifican, entre sí, el origen y la condición de los productos agroecológicos y a través del sistema, garantizan la producción, comercialización y consumo de estos productos en el mercado local y regional.

         p
            strong.mr-2 Sistemas productivos sostenibles:
            | conjunto estructurado de actividades agropecuarias que un grupo humano organiza, dirige y realiza, en un tiempo y espacio determinados mediante prácticas y tecnologías que no degradan la capacidad productiva de los bienes naturales comunes. Tales actividades pueden ser propiamente productivas (cultivo, recolección, aprovechamiento, extracción, pastoreo) o de manejo (prevención, mantenimiento, restauración). Los sistemas productivos sostenibles producen alimentos seguros, saludables y de alta calidad; contribuyen a la mitigación y adaptación de los territorios al cambio climático; garantizan la viabilidad económica; prestan servicios ecosistémicos; gestionan las zonas rurales conservando la biodiversidad y la belleza paisajística; garantizan el bienestar de los animales; y contribuyen al bienestar y buen vivir.

         p
            strong.mr-2 Soberanía alimentaria:
            | se entiende como el derecho de un país a definir sus propias políticas y estrategias sustentables de producción, distribución y consumo de alimentos, que garanticen el derecho a la alimentación sana y nutritiva para toda la población, respetando sus propias culturas y la diversidad de los sistemas productivos, de comercialización y de gestión de los espacios rurales.
         p
            strong.mr-2 Triple jornada de la mujer rural:
            | la triple jornada se define como la sobrecarga de trabajo en la que la mujer incurre cuando es la encargada del rol reproductivo (cuidado del hogar y la familia), productivo (actividades de trabajo remunerado) y comunitario (organización y apoyo colectivo).
         p
            strong.mr-2 Violencias basadas en género:
            | las violencias de género corresponden a cualquier acción o conducta que se desarrolle a partir de las relaciones de poder asimétricas basadas en el género, que sobrevaloran lo relacionado con lo masculino y subvaloran lo relacionado con lo femenino. Son un problema de salud pública por las graves afectaciones físicas, mentales y emocionales que sufren las víctimas; por la gravedad y magnitud con la que se presentan y porque se pueden prevenir. (MinSalud, 2020). Se clasifican en violencia física, psicológica, sexual, económica y patrimonial. (Ley 1257 de 2008).