include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Acevedo, A., Santoyo, J. S., Guzmán, P. y Jiménez, N. (2017). La Agricultura Familiar frente al modelo extractivista de desarrollo rural en Colombia. Gestión y Ambiente, 21, (2), 144-154.", "https://revistas.unal.edu.co/index.php/gestion/article/view/73925/69701 ")
        +referenciaItem("Acevedo, A. y Jiménez, N. (2019). Agroecología. Experiencias comunitarias para la agricultura familiar en Colombia. Corporación Universitaria Minuto de Dios - Uniminuto; Editorial Universidad del Rosario.", "")
        +referenciaItem("Congreso de Colombia. (2008, 4 de diciembre). Ley 1257 de 2008. Diario Oficial No. 47.193.", "https://oig.cepal.org/sites/default/files/2008_col_ley1257.pdf ")
        +referenciaItem("De Schutter, O. (2011). Informe del Relator Especial sobre el derecho a la alimentación.", "https://www.ohchr.org/Documents/Issues/Food/A.HRC.19.59.Add.5_SP.pdf")
        +referenciaItem("Etc GROUP. (2017). ¿Quién nos alimentara? La red campesina alimentaria o la cadena agroindustrial.", "https://www.etcgroup.org/sites/www.etcgroup.org/files/files/etc-quiennosalimentara-2017-es.pdf ")
        +referenciaItem("Gliessman, S. R. (2007), citado por Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2014). Agroecología para la seguridad alimentaria y nutrición actas del simposio internacional de la FAO.", "http://www.fao.org/3/a-i4729s.pdf")
        +referenciaItem("Instituto de Desarrollo Agropecuario (INDAP) y Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2018). Manual de transición agroecológica para la agricultura familiar campesina.", "https://www.redinnovagro.in/pdfs/manual-transici%C3%B3n-agroecologica-afc.pdf ")
        +referenciaItem("Mier, M., Giménez, T., Giraldo, O. F., Helda, M. A., Ferguson, B. G., Ashlesha, P. R. y Campos, C. (2019). Escalamiento de la agroecología: impulsores clave y casos emblemáticos. ", "https://www.researchgate.net/publication/333852555_Escalamiento_de_la_agroecologia_impulsores_clave_y_casos_emblematicos")

        +referenciaItem("Ministerio de Agricultura y Desarrollo Rural de Colombia (MADR). (2017, 9 de diciembre). Resolución 464 de 2017.", "https://www.minagricultura.gov.co/Normatividad/Resoluciones/Resoluci%C3%B3n%20No%20000464%20de%202017.pdf ")
        +referenciaItem("Ministerio de Salud y Protección Social. (2020). Violencias basadas en género.", "https://www.minsalud.gov.co/salud/publica/ssr/Paginas/violencias-de-genero.aspx ")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2011). Guía metodológica para el desarrollo de Escuelas de Campo.", "http://www.fao.org/climatechange/30315-069f5a40da3e46706f6936d2e99514e30.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2015). La apuesta por la economía circular en la Unión Europea.", "http://www.fao.org/in-action/territorios-inteligentes/articulos/experiencias-territoriales/detalle/es/c/288758/")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2017a). Políticas públicas a favor de la agroecología en América Latina y El Caribe.", "http://www.fao.org/3/a-i8067s.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2017b). Desarrollo de cadenas de valor sensibles al género. Marco de referencia.", "http://www.fao.org/3/a-i6462s.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2018). Etiquetar los alimentos indicando su origen impulsa las economías locales y el desarrollo sostenible.", "http://www.fao.org/news/story/es/item/1119259/icode/")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2019). TAPE Tool for Agroecology Performance Evaluation 2019 – Process of development and guidelines for application. Test version.", "http://www.fao.org/3/ca7407en/ca7407en.pdf")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2020a). Herramienta para la Evaluación del Desempeño de la Agroecología (TAPE).", "http://www.fao.org/agroecology/tools-tape/es/")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO). (2020b). Plataforma de Conocimientos sobre las Cadenas de Valor Alimentarias Sostenibles.", "http://www.fao.org/sustainable-food-value-chains/what-is-it/es/")
        +referenciaItem("Red Nacional de Agricultura Familiar (RENAF). (2017). Conversatorio sobre Sistemas Participativos de Garantía.", "https://agriculturafamiliar.co/event/conversatorio-sobre-sistemas-participativos-de-garantia/ ")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            