.container#page-tema-1

    .header-ecored
        h1 1. Masificación: el rol de la extensión y los mercados

    .jumbotron.bg-white
        #tema-1_1
        .header-ecored
            h2 1.1 Desafíos para el escalamiento horizontal y vertical de la agroecología

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen1.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Cuando se habla del #[strong escalamiento] de la agroecología se hace referencia a que esta se propague, se #[strong territorialice y masifique]. Este proceso significa que muchas fincas y familias practican la agroecología en sus múltiples dimensiones (ecológica, social, política, tecnológica, simbólica, etc.) y que los principios de ella se expresan en todo el #[strong sistema agroalimentario, no solo en la producción sino también en el procesamiento, distribución y consumo].

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen2.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Las estrategias horizontales para escalar la agroecología son las que se centran en difundir principios y prácticas entre campesinos; esto motiva a los agricultores a experimentar, fomenta la innovación, la participación y la difusión.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen3.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Se intercambian conocimientos a través de la práctica en las propias huertas o cultivos, evaluando y experimentando sobre un ciclo fenológico de un cultivo, para resolver problemas colectivamente. Se trata de aprender-haciendo-enseñando. La metodología se resume como lo muestra la siguiente figura:

        .header-arrow.my-5
            h3.text-center Proceso de desarrollo de la Escuela de Campo donde se integran los conocimientos locales y la información técnica del facilitador.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen4.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center
            .col-12.col-md-6.my-5    
                p Por otra parte, la metodología campesino a campesino nace en Cuba, como una forma de intercambiar experiencias y conocimientos entre campesinos. Aquí se mezclan conocimientos antiguos y nuevos, provenientes tanto de los campesinos como de los científicos y técnicos. Por esta vía, se promueve la agricultura familiar sostenible, a partir de innovaciones locales y aplicación de principios de la agroecología, experimentos, juegos y dinámicas, teatro, fotos, dibujos, videos, entre otros.

                p Las estrategias verticales para escalar la agroecología se enfocan en la transformación de las políticas y programas de apoyo a los pequeños productores, esto es, crear un contexto propicio que fortalezca sus organizaciones y recoja experiencias, para que con la participación de los gobiernos locales, se sinteticen aprendizajes y se planifiquen acciones.
            .col-12.col-md-6.my-5    
                img(src="assets/images/pages/tema-1/imagen5.svg", alt="").img-fluid

    .jumbotron.bg-white
        #tema-1_2
        .header-ecored
            h2 1.2 Cadenas de valor alimentarias sostenibles y sensibles al género

        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_ogNuVeNDHc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

        .row.justify-content.my-5 

            p Está compuesta por todas las partes relacionadas con la producción y la agregación de valor para la elaboración de productos alimentarios. Estas partes se relacionan de manera dinámica, impulsadas por el mercado, donde la gobernanza es central y, además, se incluyen las dimensiones de sostenibilidad, valor añadido y equidad de género.

            p Las cadenas de valor sostenible son rentables en todas sus etapas y proporcionan sostenibilidad social y ambiental.

            p “El valor añadido representa la diferencia entre el costo no relacionado con la mano de obra de la producción de un alimento y el precio que el consumidor está dispuesto a pagar por él” (FAO, 2020).

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen6.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Para que las cadenas de valor sean sostenibles deben incluir de manera dinámica tres dimensiones: económica, social y medio ambiental, como se explica en la siguiente figura:

        .header-arrow.my-5
            h3.text-center Sostenibilidad en el desarrollo de cadenas de valor alimentarias

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen7.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p En las cadenas de valor interactúan los productores/as o compradores/as de productos, que les añaden valor, los venden y cumplen funciones de producción (agricultura, pesca, aprovechamiento forestal, agroforestería), agrupamiento, elaboración y distribución. Finalmente, los consumidores, al elegir el producto que compran, determinan su valor.

        .row
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 Para que las cadenas de valor sean sensibles al género deben incorporar el #[strong análisis de las relaciones de género y lograr beneficios para mujeres y hombres] de manera equitativa en todos los eslabones de la cadena. Para esto es fundamental revisar el acceso de las mujeres a #[strong recursos productivos y su poder y capacidad de acción]. (FAO, 2017).   
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5 

            p Para este fin, se requiere: a) determinar aquellos #[strong nichos de la cadena que benefician específicamente a las mujeres] y satisfacen sus necesidades diferenciadas y b) promover la vinculación de los #[strong hombres a los temas de cuidado] en el hogar y a los liderazgos sensibles al género. Al final, en una cadena de valor sensible al género, las mujeres habrán logrado un #[strong acceso equitativo o igualitario a tierras; a fuentes de financiación] cuando se requiera; a asistencia técnica/capacitación/educación; a espacios de #[strong representación]; a #[strong poder de decisión] sobre bienes y recursos; a procesos de atención y prevención de #[strong violencias basadas en género]; y a un #[strong uso equitativo del tiempo] con la correspondiente disminución de la #[strong triple jornada].

        .row.justify-content-center.align-items-center
            .col-12.col-md-6.my5   
                img(src="assets/images/pages/tema-1/imagen8.svg", alt="").img-fluid
            .col-12.col-md-6.my5   
                p La violencia basada en género es un factor determinante para la sostenibilidad de las cadenas de valor, en la medida en que afectan la salud e integridad de las mujeres y niñas (además de otros derechos fundamentales) y debilitan su participación y permanencia en los procesos productivos o comerciales; por otro lado, la erradicación de las violencias es una apuesta política o necesidad identificada de las mujeres organizadas y empoderadas, que muchas veces lideran iniciativas agroecológicas. La triple jornada se define como la sobrecarga de trabajo en la que la mujer incurre cuando es la encargada del rol reproductivo (cuidado del hogar y la familia), el productivo (actividades de trabajo remunerado) y comunitario (organización y apoyo colectivo).

        .row.justify-content-center.align-items-center.my-5
            p Las cadenas de valor están fuertemente relacionadas con la seguridad alimentaria, por tanto, si se plantean mecanismos de reducción de los precios de los alimentos y se aumenta su disponibilidad, se repercute positivamente en la capacidad de mujeres y hombres, así como de los grupos familiares, para comprarlos. Sin embargo, los consumidores, cuando tienen más ingresos, no siempre compran mayores cantidades de alimentos, pero sí de mayor valor nutritivo o más cómodo. De esta manera, los consumidores impulsan mejoras en su suministro.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen9.svg", alt="").img-fluid

    .jumbotron.bg-white
        #tema-1_3
        .header-ecored
            h2 1.3 Economía circular y solidaria

        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZEgLWrMJd2M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p INTRODUCCIÓN

        .row.justify-content.my-5 

            p Para acompañar la producción y comercialización de productos ecológicos, se crean los sistemas participativos de garantía; estos operan a nivel local para garantizar la calidad de lo producido. Es un sistema que, basado en redes sociales, intercambio de conocimientos y la confianza entre productores, consumidores y algunos organismos públicos, ejerce una forma de control sin jerarquías. Además, se permite el acercamiento de consumidores y productores en cadenas cortas de producción, permitiendo conocer el origen de los productos y valorar la labor agrícola.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen10.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p La economía circular también propende por disminuir el consumo y desperdicio de materias primas, agua y fuentes de energía. Esta eficiencia en el uso de los recursos es una herramienta de lucha contra el cambio climático. Por el contrario, en el modelo de economía lineal, los productos que se extraen de la tierra se transforman y se eliminan; por ello, en la economía circular se busca que los productos vuelvan al ciclo como materias primas secundarias.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen11.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center 
            .col-10.col-md-5.my-5  
                a(href="http://www.fao.org/3/a-c0088s.pdff" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong ¿Cuánta comida desperdiciamos?]. 
            .col-10.col-md-5.my-5  
                a(href="http://www.fao.org/3/a-c0013s.pdf" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong pérdidas / desperdicio de alimentos]. 

        .row.justify-content.my-5 

            p En este contexto, muchos productos alimentarios tienen registrado su lugar de origen en las etiquetas, lo cual les confiere cierta reputación, que se ve reflejada en beneficios económicos y sociales para los productores, promoviendo el desarrollo sostenible. Existen productos elaborados por organizaciones de mujeres o de jóvenes que, por sus características particulares y sus aportes productivos o ecológicos, le imprimen también un valor social o cultural agregado al producto. Por ejemplo, organizaciones de mujeres víctimas o desplazadas y jóvenes en proceso de reincorporación.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen12.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Los productos que tienen etiquetas con denominación de origen, han incrementado sus precios entre 20 y 50 %, ya que los consumidores estaban dispuestos a pagar más por ellos, al incluir en su elección valores culturales, ambientales y sociales, asociados al sitio de producción. Las dinámicas de horizontalidad favorecen las relaciones equitativas a partir de las características particulares de los productores y consumidores: el sexo, la pertenencia étnica, la edad o alguna situación de discapacidad. Existen experiencias relevantes de empoderamiento económico y político de las mujeres rurales, en torno a propuestas agroecológicas locales.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-1/imagen13.svg", alt="").img-fluid

    .jumbotron.bg-white
        #tema-1_4
        .header-ecored
            h2 1.4 Agroecología, alimentación y salud pública

        .row.justify-content-center.align-items-center
            .col-12.col-md-6.my-5    
                img(src="assets/images/pages/tema-1/imagen14.svg", alt="").img-fluid
            .col-12.col-md-6.my-5    
                p Los sistemas de producción agroecológica contribuyen a mejorar la salud humana y facilitan el acceso a alimentos saludables y ayudan a hacer efectivo el derecho a una alimentación adecuada en sus diferentes dimensiones: disponibilidad, asequibilidad, adecuación, sostenibilidad y participación.

                p La agroecología aumenta la productividad. Prácticas como la incorporación de la biodiversidad o el manejo de aguas, permiten cultivar en tierras que estaban degradadas. La integración con la cría de animales proporciona proteínas a los agricultores familiares.

        .row.justify-content-center.align-items-center.my-5

            p Los rendimientos aumentan en estos sistemas. Por ello, diversos estudios concluyen que la productividad aumentó entre 73 y 150 % para agricultores familiares que cultivaban tubérculos y cereales. Además, el rendimiento medio de cosechas se duplicó en sistemas agroforestales, en un periodo entre 3 y 10 años.

        .row.justify-content-center.align-items-center.my-5
                img(src="assets/images/pages/tema-1/imagen15.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center.my-5

            p La agroecología también favorece los ingresos de los productores, al disminuir la dependencia de insumos externos, de comerciantes y prestamistas. Esto permite invertir en productos que no se producen en la finca. Adicionalmente, el uso de plaguicidas y fertilizantes de síntesis química puede estar relacionado con riesgo de deterioro de la salud e inocuidad de los alimentos.

            p Millones de personas en el mundo padecen subalimentación, obesidad y enfermedades relacionadas con esta (diabetes, cáncer, depresión). Una de las principales causas de este problema es la transición de una alimentación tradicional a una más occidentalizada. En este sentido, las políticas en salud pública han promovido la reducción del consumo de alimentos poco nutritivos e incentivado la actividad física. Sin embargo, se ha puesto poca atención a la relación existente entre el paso de sistemas agroecológicos a sistemas más industrializados y cómo esto incide en la aparición de enfermedades crónicas.

        .row.justify-content-center.align-items-center.my-5
            img(src="assets/images/pages/tema-1/imagen16.svg", alt="").img-fluid