.container#page-tema-2

    .header-ecored
        h1 2. Indicadores, herramientas y políticas para las transiciones

    .jumbotron.bg-white
        #tema-2_1
        .header-ecored
            h2 2.1 Diferentes indicadores, herramientas y metodologías para definir la transición

        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/OgJInRNyEDY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

        .row.mb-5
            .col-12
                .quote.my-5
                .quote__bar
                    .quote__bar__icon    
                        img(src="assets/images/icons/quote_01.svg", alt="")
                    .quote__bar__hr      
                .quote__text
                    p.mb-0 La agroecología plantea diferentes formas para transitar hacia sistemas alimentarios más productivos, sostenibles e inclusivos. Como ya vimos, los principios de la agroecología incluyen múltiples dimensiones y múltiples funciones, por lo tanto, los indicadores y herramientas para definir la transición deben incorporar factores sociales, económicos, ecológicos, tecnológicos, simbólicos, entre otros. Esto garantiza que la transformación combine la responsabilidad ecológica, la viabilidad económica y la justicia social (Gliessman, 2015).
                .quote__bar
                    .quote__bar__hr 
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg", alt="")

        .row.justify-content.my-5

            h3 2.1.1 Etapas de la transición agroecológica 

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen1.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Hay 5 etapas planteadas por Gliessman, que son citadas por la FAO (2014); las 3 primeras centran su atención en el nivel finca y las otras van más allá de ese nivel:

        .row.justify-content.my-5
            .col-md-2
            .col-12.col-md-8
                p #[strong Etapa uno:] Mejorar la eficacia de las prácticas industriales/convencionales para reducir el uso y consumo de insumos costosos, escasos o perjudiciales para el medio ambiente.

                p En este momento no se rompe aún con la dependencia de insumos, sino que se utilizan de forma más eficiente. Por ejemplo, observar mejor el comportamiento de las plagas para utilizar mejor los plaguicidas, de la misma forma hacer un uso más eficiente del agua y los fertilizantes.
                
                hr

                p #[strong Etapa dos:] Sustituir los insumos y prácticas industriales/convencionales con prácticas alternativas.

                p Se trata de reemplazar productos y prácticas sin modificar aún la estructura de la finca. Por ejemplo, se pueden reemplazar los fertilizantes nitrogenados por prácticas de siembra de especies fijadoras de nitrógeno, por aplicación de abonos orgánicos. Se puede también fomentar la diversidad y con ella el control ecológico de plagas.
                
                hr


                p #[strong Etapa tres:] Rediseñar el ecosistema agrícola para que funcione sobre la base de un nuevo conjunto de procesos ecológicos.

                p En esta etapa se hace un rediseño de todo el sistema, buscando prevenir la aparición de problemas. Por ejemplo, se planifica la diversificación y la gestión de la finca por medio de prácticas como rotación, agroforestería, cultivos intercalados, etc.
                
                hr


                p #[strong Etapa cuatro:] Restablecer una relación más directa entre los que cultivan los alimentos y los que los consumen.

                p Implica transformaciones culturales y económicas a nivel de comunidad. Por ejemplo, las relaciones de género, la participación de los actores que intervienen en la cadena, el apoyo de los consumidores al comprar alimentos ecológicos, que sirve a impulsar todo el sistema.
                
                hr

                p #[strong Etapa cinco:] Sobre las bases creadas por los agroecosistemas sostenibles a nivel de la granja de la etapa tres, y las relaciones alimentarias sostenibles de la etapa cuatro, construir un nuevo sistema alimentario global basado en la equidad, la participación y la justicia, que además de ser sostenible ayude también a restablecer y proteger los sistemas que apoyan la vida en la Tierra.

                p Implica cambios profundos a nivel mundial en muchos aspectos del desarrollo rural, que implica cambios sociales para alcanzar sistemas justos y sostenibles.
            .col-md-2

        .row
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xPZWkSDk48o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p 

        .row.justify-content.my-5 

            h3 2.1.2 Metodologías y herramientas para la transición

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen2.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Para sistematizar la información de cómo adelantar la transición de los múltiples componentes de la agroecología, resulta útil emplear indicadores que evidencien el estado del proceso.

            p En este sentido, la FAO desarrolló una Herramienta para la Evaluación del Desempeño llamada TAPE (por su acrónimo en inglés). Esta es una herramienta sencilla y de fácil aplicación en diferentes entornos rurales, que recopila información a escala finca, comunidad y territorio.

            p TAPE sirve para que los agricultores hagan un diagnóstico de sus fincas y verifiquen el estado de avance de los procesos de transición, identificando los puntos débiles y los aspectos a potenciar. También es útil para los diseñadores de políticas públicas, al proporcionar información de cómo mejorar los sistemas agroalimentarios. Además, puede servir para monitorear, evaluar o comparar diferentes sistemas agrícolas. De esa forma, puede favorecer sinergias entre sectores, agricultores familiares, los ministerios, actores públicos y gubernamentales, para elaborar programas de investigación y servicios de asesoramiento y extensión rural.

        .header-arrow.my-5
            h3.text-center Estos son los pasos para la aplicación de TAPE:

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen3.svg", alt="").img-fluid

        .row.justify-content
            .col-12.col-md-4.my-5 
                img(src="assets/images/pages/tema-2/imagen4.svg", alt="").img-fluid
            .col-12.col-md-8.my-5 
                p #[strong Paso 0.] Descripción del sistema y del contexto. Se emplea información primaria y secundaria para describir las características socioeconómicas, demográficas, ambientales, tamaño del hogar, zona agroecológica, bosques, acceso a tierra, sistemas productivos y productos de la región. También incluye información de otros niveles como políticas relevantes para la agroecología, instituciones, marcos legales, estructuras de comercialización, conductores históricos y sociales. Esto puede hacerse con diversos actores agricultores, líderes comunitarios, agentes de extensión y gubernamentales, etc., pero también debe hacerse a nivel de la finca.

                p Es importante incluir las restricciones de acceso a recursos o capital, las afectaciones del cambio climático y las políticas para abordar este tema. Para esto se pueden emplear entrevistas semi-estructuradas.

        .row.justify-content
            .col-12.col-md-4.my-5 
                img(src="assets/images/pages/tema-2/imagen5.svg", alt="").img-fluid
            .col-12.col-md-8.my-5 
                p #[strong Paso 1.] Caracterización de las transiciones agroecológicas. En la finca se pregunta por el estado actual, basado en los 10 elementos de la agroecología; se hace con el productor, quien evalúa a través de escalas descriptivas. Se denomina CAET. Se puede puntuar desde 0 hasta 4, en el criterio diversidad se puede calificar la diversidad de árboles, cultivos, animales, productos, actividades y servicios y se suman los puntajes de cada uno de ellos, eso mismo se repite con cada uno de los diez elementos. Esto puede hacerse a través de encuestas con la comunidad, líderes, y su implementación puede durar alrededor de una hora.

                p Tipología de la transición. Se hace un agrupamiento estadístico y/o participativo para tipificar los sistemas, esto es opcional.

        .row.justify-content
            .col-12.col-md-4.my-5 
                img(src="assets/images/pages/tema-2/imagen6.svg", alt="").img-fluid
            .col-12.col-md-8.my-5 
                p #[strong Paso 2.] Criterios de actuación. En la finca se mide el progreso y se cuantifica el impacto, se abordan las cinco dimensiones clave para los formuladores de políticas y para cumplir los ODS: medio ambiente y cambio climático; salud y nutrición; sociedad y cultura; economía y gobierno. 

                p Se deben evaluar al menos estos 10 criterios básicos: 

                ol  
                    li Asegurar la tenencia de la tierra (o movilidad para los pastores).
                    li Productividad (y estabilidad en el tiempo).
                    li Ingresos (y estabilidad en el tiempo).
                    li Valor agregado.
                    li Exposición a pesticidas.
                    li Diversidad dietética.
                    li Empoderamiento de las mujeres.
                    li Empleo juvenil.
                    li Biodiversidad agrícola.
                    li Salud del suelo.

                p Debe ser sencillo, considerando las limitaciones de tiempo / costo; se recogen datos por sexo con las mujeres; se evalúan con enfoque del semáforo: Verde: deseable, Amarillo: aceptable y Rojo: insostenible.

        .row.justify-content
            .col-12.col-md-4.my-5 
                img(src="assets/images/pages/tema-2/imagen7.svg", alt="").img-fluid
            .col-12.col-md-8.my-5 
                p #[strong Paso 3. Análisis participativo e interpretación.] Este paso se desarrolla a escala territorial / comunitaria. Se revisan los resultados de CAET, analizando las fortalezas y debilidades; se revisan los resultados de las acciones y se explican a la luz del CAET; finalmente, se analiza la contribución a los ODS.

                p Se puede llegar a acuerdo con los actores para asignar peso a cada criterio y se calcula el promedio ponderado. A partir del análisis se diseñan caminos posibles y se monitorea el progreso.

                p Esta metodología puede aplicarse en diferentes escalas de análisis del municipio, cuenca, región, etc. Si se aplica a un territorio, hay fórmulas estadísticas para determinar el tamaño de la población.

    .jumbotron.bg-white
        #tema-2_2
        .header-ecored
            h2 2.2 Institucionalidad, políticas y leyes


        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                li(data-target='#carouselExampleIndicators', data-slide-to='5')
                li(data-target='#carouselExampleIndicators', data-slide-to='6')
                li(data-target='#carouselExampleIndicators', data-slide-to='7')
                li(data-target='#carouselExampleIndicators', data-slide-to='8')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-01.png', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-02.png', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-03.png', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-04.png', alt='3')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-05.png', alt='4')                          
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-06.png', alt='5')                          
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-07.png', alt='6')                          
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-08.png', alt='7')                          
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-2/imagen8-09.png', alt='8')                          
                                                                            
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next 

        .row.justify-content.my-5 

            p De esta forma se han venido desarrollando políticas en favor de la agroecología en diferentes países de América Latina y el Caribe. Brasil es uno de los que más ha avanzado en ese sentido.

            p A partir de múltiples iniciativas locales de las ONG, organizaciones de agricultores y movimientos sociales, en diferentes regiones se construye la Política Nacional de Agroecología y Producción Orgánica (PNAPO).

            p Esto fue contrastante en Brasil, nación en la que los procesos de acaparamiento de tierras incrementaban, un país que era el mayor consumidor de agrotóxicos y el segundo con mayor área cultivada de transgénicos.

        .row.justify-content
            .col-12.col-md-4.my-5 
                h1.align-middle Política Nacional de Agroecología y Producción Orgánica (PNAPO). 
            .col-12.col-md-6.my-5 
                img(src="assets/images/pages/tema-2/imagen9.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p #[strong Generaciones:]

            ul
                
                li La #[strong primera generación] de políticas públicas surgió a mediados de la década de 1990, siendo orientada por un referencial agrícola y agrario, #[strong enfatizando], principalmente, la #[strong capacidad productiva de la agricultura familiar y sus potencialidades en la generación de trabajo y renta]; 

                li la #[strong segunda generación] de instrumentos de intervención gubernamental surge a finales de los años 1990, marcada por la preocupación con los agricultores más descapitalizados y en situación de vulnerabilidad social, asumiendo tonalidades de una #[strong política social y asistencial], y;

                li la #[strong tercera generación], que surge a partir de 2003, tuvo como perspectiva la #[strong construcción de mercados institucionales para la seguridad alimentaria y la sostenibilidad ambiental].


        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen10.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p Es preciso centrarse en los avances desde la tercera generación. El Consejo Nacional de Seguridad Alimentaria y Nutricional (CONSEA), enarboló los principios de Soberanía y Seguridad Alimentaria y Nutricional (SSAN), dentro de un marco que articulaba la “agricultura familiar”, “el Derecho Humano a una Alimentación Sana y Adecuada” y la “Agroecología”.

            p En #[strong 2004], la #[strong Política Nacional de Asistencia Técnica y Extensión Rural (PNATER)], brinda asistencia técnica y extensión rural a los agricultores familiares, en el marco de la Reforma Agraria. Se basó en los principios de la agroecología y en métodos participativos.

            p En #[strong 2006] se elabora el #[strong Marco Referencial en Agroecología], que apoyó la #[strong investigación] y los proyectos en agroecología #[strong fortaleciendo la inversión] en estos temas.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen11.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p En 2010, se estructuraron los Núcleos de Investigación y Extensión en Agroecología (NEAs), que combinaban investigación, enseñanza y extensión. Luego se llamaron Núcleos de Estudio en Agroecología y Producción Orgánica, los cuales reciben dinero de diferentes ministerios.

            p El #[strong Programa de Adquisición de Alimentos (PAA)], instituido en 2003, incluye la #[strong adquisición de alimentos por el gobierno, para entregarlos a poblaciones vulnerables], instituciones públicas de alimentación, nutrición, socioasistenciales y escuelas de la red pública o filantrópica. También #[strong promueve la compra de semillas criollas], lo cual favoreció su conservación.

            p El programa #[strong Un Millón de Cisternas Rurales] fue creado en 2003 para resolver el problema de #[strong abastecimiento de agua], esto potencia las iniciativas agroecológicas de manejo de semillas, huertos o sistemas agroforestales. Los programas consideran que la organización, movilización y formación hacen parte de las tecnologías sociales.

        .row.justify-content-center.align-items-center.my-5    
            img(src="assets/images/pages/tema-2/imagen12.svg", alt="").img-fluid

        .row.justify-content.my-5 

            p La #[strong Política Nacional de Agroecología y Producción Orgánica (PNAPO)] (2012) y los #[strong Planos Nacionales de Agroecología y Producción Orgánica (PLANAPOS), 2013-2015 y 2016-2019], son el resultado de #[strong acciones conjuntas entre organizaciones sociales y agentes públicos. PLANAPO invirtió $8,8 billones (2,75 billones de US$) en 125 iniciativas agroecológicas: a) producción, b) uso y conservación de los recursos naturales, c) conocimientos, d) comercialización y consumo. Sin embargo, la reforma agraria no fue un tema central en el PLANAPO].

            p #[strong La interacción entre movimientos sociales, sociedad civil y gobierno ha permitido en todas las etapas que la agroecología impulse las políticas públicas en Brasil]. En este sentido, el compromiso de #[strong las mujeres organizadas] y sus intereses reivindicativos en distintos ámbitos, han sido fundamentales. La Marcha Mundial de Mujeres (MMM), la Articulación de Mujeres Brasileñas (AMB) y el Movimiento de Mujeres Campesinas (MMC), fueron de las más notables. Se resalta la Marcha de las Margaridas, en la cual se logró gran incidencia de las mujeres en el marco de formulación de la PNAPO. 

            p En general, se puede decir que es necesario que las políticas públicas cumplan con: garantizar acceso a la tierra y territorios para los agricultores y agricultoras familiares, teniendo en cuenta las brechas de género; eliminar las restricciones para la siembra, conservación, intercambio y venta de semillas; facilitar la participación de las mujeres en los procesos organizativos, en el aprendizaje y la innovación; favorecer los mercados locales y el mantenimiento de la biodiversidad; desenvolver investigaciones participativas con las comunidades rurales, considerando el contexto y necesidades locales; establecer condiciones laborales y comercio justo para los agricultores familiares.