//Colores base del material de formación
$brand-color-dark:#4B2C19;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #E6EEF3;
$text-color-light: #FFFFFF;
$brand-color-secondary: #2FB239;

